@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-cyan:hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish:hsl(217, 19%, 38%);
  --dark-gray:hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
  --font-family: "Manrope", sans-serif;
}

body{
  background-color: var(--dark-blue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-family);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  min-width: 348px;
  background-color: var(--grayish);
  text-align: center;
}

hr {
  width: 100%;
}

#getData {
  background-color: var(--neon-green);
  border-radius: 100%;
  padding: 2px 4px;
  cursor: pointer;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
